/* NavBar.css */
progress.custom-progress {
    appearance: none;
    border-radius: 0.375rem;
    overflow: hidden;
    width: 10rem;
    height: 1.5rem;
}

progress.custom-progress::-webkit-progress-bar {
    background-color: #e2e8f0;
    border-radius: 0.375rem;
}

progress.custom-progress::-webkit-progress-value {
    background-color: #f72585; /* Couleur verte */
    border-radius: 0.375rem;
    transition: width 0.3s ease;
}

progress.custom-progress::-moz-progress-bar {
    background-color: #f72585; /* Pour Firefox */
    border-radius: 0.375rem;
}
